.App {
  margin: 10px;
}

.Word {
  display: flex;
}

.Alphabet {
  margin-top: 20px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
}

.Character {
  margin: 2px;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background: lightgreen;
}

.wrong {
  background: lightgrey;
}

.missplaced {
  background: lightyellow;
}

.used {
  background: grey;
}

.unused {
  background: lightgrey;
}
